html {
  background-color: hsl(180, 50%, 50%);
}
body {
  background: #fff;
  font-family: verdana;
  width: 960px;
  margin: 0 auto;
}
/* issue 10 goes under here */
nav li{
  display: inline;
}








/* issue 11 goes under here */









/* issue 12 goes under here */

nav ul {
  list-style-type: none;
}







/* issue 13 goes under here */
