html {
  background-color: hsl(180, 50%, 50%);
}
body {
  background: #fff;
  font-family: verdana;
  width: 960px;
  margin: 0 auto;
}
/* issue 10 goes under here */
nav li{
  display: inline;
}
#githubAvatars{
  list-style-type: none;
}

#githubAvatars li img{
  width:25vw;
}

#githubAvatars li {
  font-size: 3vw;
}

#randomGiph{
  max-width: 30vw;
}



/* issue 11 goes under here */
body {
  padding: 5%;
}








/* issue 12 goes under here */

nav ul {
  list-style-type: none;
}







/* issue 13 goes under here */
